body{
	 background-image: url(../images/Grey-Background.jpg);
  	background-repeat: repeat;
}

#high {
	background:#ffffff;
	border-bottom: 2px solid #cccccc;
	max-width:100%;
}


#name {
	padding-top:15px;
	/*margin-left: 40px;*/
	background-color:#4aaaa5; 
	width:160px; 
	height:70px;
	text-align:center;
	color:#ffffff;
	border: 1px solid #cccccc;
	float:left;
	font-family: 'Georgia', Times, Times New Roman, serif;
}


p {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}


#links {
	float:right;
	margin:auto;
}

#about {
	height:auto;
	width:500px;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	background:#ffffff;
}

h3 {
	color: #4aaaa5;
}

#contact {
	border: 1px solid #dddddd; 
	height:auto; 
	width: 600px;
	color:#4aaaa5;
	background-color:#ffffff;
}

#portfolio {
	border: 1px solid #dddddd; 
	height:auto; 
	width: 700px;
	background-color:#ffffff;
	color:#4aaaa5;

}

.pull-left {
	padding-right:5px;
	width:100px;
	height:100px;
}

#connect {
	margin-left:10px; 
	width:300px;
	text-align:center;
	color: #4aaaa5;
	border: 1px solid #cccccc;
	background:white;
}

#foot {
	height:90px; 
	background-color: #666666;
	text-align:center;
	color:#ffffff;
}


#press {
	background: #4aaaa5; 
	color:#fff; 
	font-size:18px;
}

textarea {
	width:560px;
}

@media only screen and (max-width: 980px) {
#name {
	margin-left: 50px;
	font-size: 20px;
	margin-right: 100px;
}
#links {
	margin-right:20px;
}
#about, #contact, #portfolio {
	margin-left: 50px;
	margin:auto;	
	max-width: 600px;
	margin-bottom: 30px;
}

#connect {
	margin-left: 200px;
	float: left;
	text-align: left;
	max-width:650px;
}

}
@media only screen and (max-width: 768px) {
#high {
	width:100%;
}
#name {
	/*margin-left: 50px;*/
	font-size: 20px;
	margin-right: 100px;
}
#links {
	margin-right:20px;
}

#about, #contact {
	margin-left: 50px;
	margin-right: 20px;
	max-width: 650px;
	margin-bottom: 30px;
}
#portfolio {
	max-width: 350px;
}

#connect {
	margin-left: 50px;
	float: left;
	text-align: left;
	max-width:650px;
}

}
@media only screen and (max-width: 640px) {
#name {
	width:100%;
	/*margin-left:0px;*/
}
#links {
	width:100%;
	text-align:center;
	margin:auto;
}
#about, #contact {
	margin-left: 50px;
	margin-right: 20px;
	max-width: 400px;
	margin-bottom: 30px;
}

#portfolio {
	max-width: 350px;
}

#connect {
	margin-left: 50px;
	float: left;
	text-align: left;
	max-width:650px;
}

textarea {
	width:320px;
}


 }
}
